<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
.form-row label.placeholder,
        .form-row label.active {
            transform: translateY(-140%);
            font-size: 0.8em;
        }

</style>

<body>
<form method="post" action="isbn_checker">

<textarea rows="10" name="isbn_check" maxlength="170" placeholder="Enter One Value Per Line" style="width:25%; height:25%" required autofocus></textarea>

<br><div class="button">
   <button type="submit" value="Submit">Submit</button>
</div><br>

<div class="valid_or_not">
	<div class="isbn_container">
		<% if big_array == nil %>
			<%= "" %>
		<% else %>
		<table id="t01" style="width: max-content;">

			<% big_array.each do |x| %>
				<tr>
					<td><%= x[0] %></td><td><%= x[1] %></td>
				</tr>
				<% end %>
		</table>
		<% end %> 
 	</div>
</div>

</form>
</body>



 