<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form method="post" action="isbn_checker">

<div class = input_content">
    <input type="text" name="isbn" required autofocus>
</div>
<div class="button">
   <button type="submit" value="Submit">Submit</button>
</div>
<div class="valid_or_not">
	<%= final_answer %><hr>
    <%= validity_final %><hr>
    <%= isbn_orig %><hr>

</div>

</form>
</body>



