body {
	    background-color: mintcream;
}

.title
{
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#c4c4c4e3;}
</style>