
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.4rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.title
{
  font-family: 'Anton', sans-serif;
  color: darkkhaki;
  font-size: 3rem;
}

.txtbox
{
  width: 7rem;
}


table#t01 td:nth-child(even) {
    background-color: #eee;
}
table#t01 td:nth-child(odd) {
   background-color: #fff;
}
